.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-animation {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.directions {
  padding: 15px;
  margin-top: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.directions h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.directions ul {
  margin-top: 10px;
}