.readingMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

.centerText {
  text-align: center;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="text"],
input[type="submit"] {
  margin: 5px auto 20px auto;
}

.readingContainer pre {
  width: 100%; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  text-align: center; 
}
