@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

.landing-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-family: 'Lato', sans-serif;
}

.landing-left {
    width: 100%;
    display: flex;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;position: relative;
}

.landing-title {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
    font-weight: thin;
}

.italic {
    font-style: italic;
}

.landing-info {
    font-weight: 100;
    padding-right: 4rem;
}

.landing-left, .landing-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-right {
    flex-direction: column;
}

.title-color {
    color: #6b4f54;
}

.landing-button{
    background-color: #dafe7d;
    padding:1rem;
    width:15rem;
    border-radius: 1rem;;
}

.doctor {
    width: 56%; 
    border-top-left-radius: 60%; 
    border-top-right-radius: 60%; 
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .landing-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing-left, .landing-right {
        width: 100%;  
        display: flex;
        justify-content: center;  
        align-items: center; 
        text-align: center; 
    }

    .landing-title {
        font-size: 3rem;  
    }

    .landing-info {
        padding-right: 0;  
        font-size: 0.75rem;
    }

    .doctor {
        width: 100%; 
        height:20rem;
        border-top-left-radius: 60%; 
        border-top-right-radius: 60%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-button {
        width: 50%; 
        padding: 1rem;
    }
}
