.landing-container {
    display: flex;
    flex-direction: row; 
    padding: 1rem;
    font-family: 'Lato', sans-serif;
}

.landing-left, .landing-right {
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-right {
    display:flex;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor {
    width: 56%; 
    border-top-left-radius: 60%; 
    border-top-right-radius: 60%; 
}

.landing-title {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
}

.landing-speech-title {
    font-weight: 100;
    font-size: 3rem; 
    text-shadow: 1px 1px 1px #6b4f54;
}

.italic {
    font-style: italic;
}

.landing-info {
    font-weight: 100;
    padding-right: 4rem;
}

.landing-right {
    flex-direction: column;
}

.title-color {
    color: #6b4f54;
}

.landing-button{
    background-color: #dafe7d;
    padding: 1rem;
    width: 15rem;
    border-radius: 1rem;
}

/* Responsive*/
@media (max-width: 768px) {
    .landing-container {
        flex-direction: column;
    }

    .landing-title {
        font-size: 3rem;
    }

    .landing-info {
        padding-right: 0;
        font-size: 0.75rem;
    }

    .doctor {
        width: 100%;
        height: 20rem; 
    }

    .landing-button {
        width: 50%; 
    }
}
